<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test?createDatabaseIfNotExist=true</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">false</property>
		<!-- <property name="hbm2ddl.auto">create-drop</property> -->
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.region.factory_class">jcache</property>
		<property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
		<property name="hibernate.javax.cache.uri">ehcache.xml</property>		
		<property name="hibernate.generate_statistics">false</property>
		
		<property name="hibernate.jdbc.batch_size">5</property>
		
		<property name="hibernate.order_inserts">true</property>
		
		<!-- <property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.validate">1800</property>
		<property name="hibernate.c3p0.unreturnedConnectionTimeout">30</property>
		<property name="hibernate.c3p0.debugUnreturnedConnectionStackTraces">true</property> -->
		
		<!-- <mapping class="com.altafjava.onetoone.foreign.Employee" />
		<mapping class="com.altafjava.onetoone.foreign.Account" /> -->
		<!-- <mapping class="com.altafjava.onetoone.jointable.Employee" />
		<mapping class="com.altafjava.onetoone.jointable.Account" /> -->	
		<!-- <mapping class="com.altafjava.onetoone.pkjoincolumn.Employee" />
		<mapping class="com.altafjava.onetoone.pkjoincolumn.Account" /> -->
		<!-- <mapping class="com.altafjava.onetoone.sharedpk.Employee" />
		<mapping class="com.altafjava.onetoone.sharedpk.Account" /> -->
		<!-- <mapping class="com.altafjava.onetomany.foreign.Employee" />
		<mapping class="com.altafjava.onetomany.foreign.Account" /> -->
		<!-- <mapping class="com.altafjava.onetomany.jointable.Employee" />
		<mapping class="com.altafjava.onetomany.jointable.Account" /> -->
		<!-- <mapping class="com.altafjava.manytomany.uni.Reader" />
		<mapping class="com.altafjava.manytomany.uni.Subscription" /> -->
		<!-- <mapping class="com.altafjava.manytomany.bi.Reader" />
		<mapping class="com.altafjava.manytomany.bi.Subscription" /> -->
		<!-- <mapping class="com.altafjava.manytoone.Student" />
		<mapping class="com.altafjava.manytoone.Project" /> -->
		<!-- <mapping class="com.altafjava.datetime.Article" /> -->
		<!-- <mapping class="com.altafjava.elementcollection.State" /> -->
		<!-- <mapping class="com.altafjava.lob.Article" /> -->
		<!-- <mapping class="com.altafjava.orderby.manytomany.Course" />
		<mapping class="com.altafjava.orderby.manytomany.Student" /> -->
		<!-- <mapping class="com.altafjava.ordercolumn.CreditCard" />
		<mapping class="com.altafjava.ordercolumn.CardTransaction" /> -->
		<!-- <mapping class="com.altafjava.cascade.remove.Employee" />
		<mapping class="com.altafjava.cascade.remove.Account" /> -->
		<!-- <mapping class="com.altafjava.cascade.orphanremove.Employee" />
		<mapping class="com.altafjava.cascade.orphanremove.Account" /> -->
		<!-- <mapping class="com.altafjava.hql.update.Employee" /> -->
		<!-- <mapping class="com.altafjava.hql.delete.Employee" /> -->
		<!-- <mapping class="com.altafjava.hql.insert.Person" /> -->
		<!-- <mapping class="com.altafjava.hql.select.Employee" /> -->
		<!-- <mapping class="com.altafjava.hql.namedquery.Employee" /> -->
		<!-- <mapping class="com.altafjava.criteria.from.Employee" /> -->
		<!-- <mapping class="com.altafjava.criteria.restriction.Employee" /> -->
		<!-- <mapping class="com.altafjava.storedprocedure.call.Employee" /> -->
		<!-- <mapping class="com.altafjava.storedprocedure.query.Employee" /> -->
		<!-- <mapping class="com.altafjava.storedprocedure.named.Employee" /> -->
		<!-- <mapping class="com.altafjava.cache.firstlevel.Employee" /> -->
		<!-- <mapping class="com.altafjava.cache.secondlevel.Employee" /> -->
		<!-- <mapping class="com.altafjava.cache.querylevel.Employee" /> -->
		<!-- <mapping class="com.altafjava.pagination.offsetlimit.Employee" /> -->
		<!-- <mapping class="com.altafjava.pagination.scrollable.Employee" /> -->
		<!-- <mapping class="com.altafjava.batch.singleentity.Employee" /> -->
		<!-- <mapping class="com.altafjava.batch.multipleentities.Employee" />
		<mapping class="com.altafjava.batch.multipleentities.Account" /> -->
		<mapping class="com.altafjava.batch.update.Employee" />
	</session-factory>
</hibernate-configuration>